In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Load file and take a peek
titanic_dataset = pd.read_csv("./train.csv")
titanic_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
# Calculate the survival probability

# First find the total number of passengers
total = titanic_dataset.shape[0]

# Find the total number of survivals
survivals = titanic_dataset.query("Survived == 1").shape[0]

# Print the survival probability
print(survivals / total)

0.3838383838383838

In [62]:
# Calculate the survival probability of female passengers

# First find the total number of female passengers
female_total = titanic_dataset.query("Sex == 'female'").shape[0]

# Find the total number of female survivals
female_survivals = titanic_dataset.query("Sex == 'female'").query("Survived == 1").shape[0]

# Print the survival probability of female passengers
print(female_survivals / female_total)

0.7420382165605095

In [63]:
# Calculate the probability of a person is female and survived
# We can use Bayes Rule to calculate it

# P(S|F) = P(S).P(F|S)/P(F)
result = female_survivals /total

# Print the result
print(result)

0.2615039281705948
233

In [60]:
# Calculate survival probability of females staying in first class

first_class_females = titanic_dataset.query("Pclass == 1").query("Sex == 'female'")
first_class_female_survivals = first_class_females.query("Survived == 1")

first_class_females = first_class_females.shape[0]
first_class_female_survivals = first_class_female_survivals.shape[0]

# Calculate the P(Survival|Females Staying in First Class)

P_FirstClassFemales = first_class_females / total
P_FirstClassFemaleSurvivals = first_class_female_survivals / first_class_females

result = first_class_female_survivals / first_class_females

# Print the result
print(result)

0.9680851063829787